/*  css document  */

html, body{ background: #ffffff; padding: 0; margin: 0; }
#wrapper{ width: 300px; height: 250px; position: relative; background: #8233bb; overflow: hidden; }

#hub{
    width: 115px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 92;
    background-image: url('image.jpg');
    overflow: hidden;
    }

#panel{
    width: 185px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: #8233bb;
    z-index: 90;
    }

#frame-1, #frame-2, #frame-3, #frame-4, #cta, #logo{
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 250px;
    z-index: 91;
    transition: all 0.7s;
    }

#frame-1{ left: 0px; background-image: url('300x250_fr1_copy.png'); }
#frame-2{ background-image: url('300x250_fr2_copy.png'); }
#frame-3{ background-image: url('300x250_fr3_copy.png'); }
#frame-4{ background-image: url('300x250_fr4_copy.png'); }
#logo{ left: 0px; background-image: url('logo.png'); }

/*  animations  */

.right-in{ transform: translate(300px, 0px); }
.right-out{ transform: translate(600px, 0px); }
